.whole-body{
    height: 100vh;
    width: 100%;
    background-image: url('../../images/bg.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media(max-width: 800px){
    .whole-body{
        background-size: cover;
        align-items: inherit;
    }
}